.cardContainer {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 90px;
}

.cardIndividual {
  margin: 7px 100px;
  opacity: 80%;
  padding: 10px;
}

.cardIndividual:hover {
  opacity: 100%;
}

.cardTitle {
  text-align: left;
  padding-left: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.likeDislikeBtns {
  margin-left: auto;
}

.likeBtn {
  color: #43aa8b;
}

.dislikeBtn {
  color: #ef3054;
}

.deleteBtn {
  color: #888098;
}

.padding-delete {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.cardContent {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
/* referenced cssdeck.com for CSS on like/dislike count below */

.likeCount {
  background-color: #fff;
  border: solid 1px #a5b1bd;
  border-radius: 3px;
  /* add in vendor rules */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  /* add in vendor rules */
  color: #424a4d;
  float: left;
  font-weight: bold;
  margin-right: 10px;
  padding: 2px 4px;
  position: relative;
  text-align: center;
}

.likeCount:before,
.likeCount:after {
  content: "";
  display: block;
  height: 0;
  top: 50%;
  position: absolute;
  right: -14px;
  width: 0;
  margin-top: -6px;
}

.likeCount:before {
  border: solid 7px transparent;
  border-color: transparent transparent transparent #a5b1bd;
}

.likeCount:after {
  border: solid 6px transparent;
  border-color: transparent transparent transparent #fff;
  right: -12px;
  margin-top: -5px;
}

.dislikeCount {
  background-color: #fff;
  border: solid 1px #a5b1bd;
  border-radius: 3px;
  /* add in vendor rules */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  /* add in vendor rules */
  color: #424a4d;
  float: right;
  font-weight: bold;
  margin-right: 10px;
  padding: 2px 4px;
  position: relative;
  text-align: center;
}

a:link {
  text-decoration: none;
}
