.cardContainer {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 90px;
}

.cardIndividual {
  margin: 2px;
  opacity: 80%;
}

.cardIndividual:hover {
  opacity: 100%;
}

.cardTitle,
.cardBody {
  text-align: left;
  padding-left: 75px;
}

.likeDislikeBtns {
  margin-right: auto;
}

.likeBtn {
  color: #43aa8b;
}

.dislikeBtn {
  color: #ef3054;
}

.deleteBtn {
  color: #888098;
  margin-left: auto;
}

.cardContent {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
