@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');

.navBar {
    flex-grow: 1;
}

.title {
    font-family: 'Sail', cursive;
    flex-grow: 1;
    color: white;
}
a:link {
  text-decoration: none !important;
}

.darkModeToggleDiv {
    display: inline;
    padding-right: 500px;
}